<img src="{{ pokemon.img }}" alt="portrait de {{ pokemon.name }}">
<div class="pokemon-card--detail">
  <span class="pokemon-detail--title">{{ pokemon.id }}|{{ pokemon.name }}</span>
  <dl class="pokemon-detail--type">
    <dt>Type :</dt>
    <dd *ngFor="let type of pokemon.type">{{ type }}</dd>
  </dl>
</div>
