img {
  width: 150px;
  height: 150px;
  box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.pokemon-detail--title{
  text-transform: uppercase;
}
.pokemon-card--detail {
  width: 55%;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #F44336;
  box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
