<section>
  <h1>{{ title }}</h1>
  <app-search (setFilterOptions)="setFilter($event)"></app-search>
  <div class="pokemon-cards">
    <app-pokemon
      class="pokemon-card"
      *ngFor="let pokemon of pokemonList | pokemonFilter : filterOptions"
      [pokemon]="pokemon" ></app-pokemon>
  </div>
</section>

