section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
}
.pokemon-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 5px 0;
  .pokemon-card {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 5px 5px;
    padding: 5px;
  }
}
