/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.jsdelivr.net/npm/pokemon-font@1.8.1/css/pokemon-font.css');

body{
  padding: 0;
  margin: 0;
  background-color: #424242;
}
* {
  font-family: 'pokemon-font', sans-serif;
}
