<input [(ngModel)]="name" type="text" placeholder="Search by name..." (input)="sendOptions()"/>
<input [(ngModel)]="id" type="number" placeholder="Search by number..." (input)="sendOptions()"/>
<select #type (input)="selectType(type.value)">
  <option value="" selected="">Select Type</option>
  <option *ngFor="let type of types" value="{{ type }}">{{ type }}</option>
</select>
